.CoreView {
  height: 181px; /* Good for 15 lines */
  width: 170px; /* Good for 24 characters */
}

.CoreView-Accumulator,
.CoreView-Backup {
  text-align: center;
  width: 25px; /* Good for 3 digits */
}

.CoreView-Accumulator li:nth-child(n+2),
.CoreView-Backup li:nth-child(n+2) {
  letter-spacing: 0;
}

.CoreView-Accumulator li:nth-child(n+3),
.CoreView-Backup li:nth-child(n+3) {
  color: var(--color-comment);
}

.CoreView-Accumulator li.ellipsis,
.CoreView-Backup li.ellipsis {
  line-height: 8px;
  height: 12px;
}
