.CoreView {
  height: 181px; /* Good for 15 lines. */
  width: 170px; /* Good for 24 characters. */
}

.CoreView-state {
  letter-spacing: 0;
  text-align: center;
  width: 25px; /* Good for 3 digits. */
}

.CoreView-state .label {
  letter-spacing: 1px;
}

.CoreView-state :nth-child(n+3) {
  color: var(--color-comment);
}

.CoreView-state .--ellipsis {
  height: var(--line-height);
  margin-right: 2px;
}
