/*
  Off
*/
.debugBlock {
  display: none !important;
}

.debugInlineBlock {
  display: none !important;
}

.debugVisible {
  visibility: hidden !important;
}

/*
  On
*/

.debugMode .debugBlock {
  display: block !important;
}

.debugMode .debugInlineBlock {
  display: inline-block !important;
}

.debugMode .debugVisible {
  visibility: visible !important;
}
