.EscrowView {
  display: flex;
  justify-content: center;
  letter-spacing: 0;
}

.EscrowView :nth-child(n+3):nth-last-child(n+3) {
  color: var(--color-comment);
}

/*
  Horizontal Only
*/

.EscrowView.horizontal.stretch {
  flex-direction: column;
  height: 194px; /* Stretch for proper centering in non-debug mode */
}

.EscrowView.horizontal .number {
  margin: 3px 0;
}

.EscrowView.horizontal .--ellipsis {
  margin: 0 0 6px 2px;
}

.EscrowView.horizontal .--icon {
  margin-left: 1px;
  height: 12px; /* Good for 1 horizontal arrow */
}

.EscrowView.horizontal .--icon:first-child {
  margin-bottom: 6px;
}

.EscrowView.horizontal .--icon:last-child {
  margin-top: 1px;
}

/*
  Vertical Only
*/

.EscrowView.vertical.stretch {
  width: 227px; /* Stretch for proper centering in non-debug mode */
}

.EscrowView.vertical.stretch:first-child {
  margin-left: -1px;
}

.EscrowView.vertical.stretch:last-child {
  margin-right: -1px;
}

.EscrowView.vertical .number {
  margin: 0 2.5px;
  width: 18px; /* Good for 3 digits */
}

.EscrowView.vertical .--ellipsis {
  margin: 0 3px 0 2px;
}

.EscrowView.vertical .--icon {
  line-height: 6px;
  width: 8px; /* Good for 1 vertical arrow */
}

.EscrowView.vertical .--icon:first-child {
  margin-right: 4px;
}

.EscrowView.vertical .--icon:last-child {
  margin-left: 4px;
}
