.EscrowView {
  letter-spacing: 0;
  text-align: center;
}

.EscrowView li:nth-child(n+3):nth-last-child(n+3) {
  color: var(--color-comment);
}

/*
  Horizontal Only
*/

.EscrowView.horizontal.stretch {
  align-items: center;
  display: flex;
  height: 194px; /* Stretch for proper centering in non-debug mode */
}

.EscrowView.horizontal li.--icon {
  height: 12px; /* Good for 1 horizontal arrow */
}

.EscrowView.horizontal li.--icon:first-child {
  margin-bottom: 10px;
}

.EscrowView.horizontal li.--ellipsis {
  margin: -3px 0 9px;
}

.EscrowView.horizontal li.number {
  margin: 6px 0;
}

/*
  Vertical Only
*/

.EscrowView.vertical.stretch {
  width: 227px; /* Stretch for proper centering in non-debug mode */
}

.EscrowView.vertical ol,
.EscrowView.vertical li {
  display: inline-block;
}

.EscrowView.vertical ol {
  margin-bottom: 2px;
}

.EscrowView.vertical li.--icon {
  width: 8px; /* Good for 1 vertical arrow */
}

.EscrowView.vertical li.--icon:first-child {
  margin-right: 3px;
}

.EscrowView.vertical li.--icon:last-child {
  margin-left: 4px;
}

.EscrowView.vertical li.--ellipsis {
  margin: 0 2px;
}

.EscrowView.vertical li.number {
  margin: 0 -1px;
  width: 18px; /* Good for 3 digits */
}
