.EscrowView {
  display: flex;
  justify-content: center;
  letter-spacing: 0;
}

.EscrowView :nth-child(n+3):nth-last-child(n+3) {
  color: var(--color-comment);
}

/*
  Left-Right orientation
*/

.EscrowView.leftRight.messageBus {
  flex-direction: column;
  height: 194px; /* Stretch for proper centering in non-debug mode */
}

.EscrowView.leftRight .number {
  margin: 3px 0;
}

.EscrowView.leftRight .--ellipsis {
  margin: 0 0 6px 2px;
}

.EscrowView.leftRight .--icon {
  margin-left: 1px;
  height: 12px; /* Good for 1 horizontal arrow */
}

.EscrowView.leftRight .--icon:first-child {
  margin-bottom: 6px;
}

.EscrowView.leftRight .--icon:last-child {
  margin-top: 1px;
}

/*
  Up-Down orienation
*/

.EscrowView.upDown.messageBus {
  width: 227px; /* Stretch for proper centering in non-debug mode */
}

.EscrowView.upDown.messageBus:first-child {
  margin-left: -1px;
}

.EscrowView.upDown.messageBus:last-child {
  margin-right: -1px;
}

.EscrowView.upDown .number {
  margin: 0 2.5px;
  width: 18px; /* Good for 3 digits */
}

.EscrowView.upDown .--ellipsis {
  margin: 0 3px 0 2px;
}

.EscrowView.upDown .--icon {
  line-height: 6px;
  width: 8px; /* Good for 1 vertical arrow */
}

.EscrowView.upDown .--icon:first-child {
  margin-right: 4px;
}

.EscrowView.upDown .--icon:last-child {
  margin-left: 4px;
}
