.StackView {
  display: flex;
  letter-spacing: 0;
}

.StackView .label {
  letter-spacing: 1px;
  margin: 0 2px 0 8px;
}

.StackView .number {
  margin: 0 3px;
}

.StackView .bracket {
  margin: 0 2px;
}

.StackView .--ellipsis {
  margin: 0 2px 0 1px;
}

.StackView .--icon {
  line-height: 9px;
}
