.LevelViewOuter {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.LevelView {
  min-width: 790px; /* Adjust for spacing between columns */
}

.LevelView .title {
  text-align: center;
}
