/* 3rd party dependencies */
@import './3rdParty/css/boxSizing.css';
@import './3rdParty/css/fonts.css';
@import './3rdParty/css/reset.css';

/* App entry points */
@import './views/EntryPoints/LevelView.css';

/* App helpers */
@import './views/ViewHelper/BoxView.css';

/* App views */
@import './views/IOView/ImageView.css';
@import './views/IOView/InView.css';
@import './views/IOView/OutView.css';
@import './views/LevelView/ActionsView.css';
@import './views/LevelView/InfoView.css';
@import './views/LevelView/IOView.css';
@import './views/LevelView/MatrixView.css';
@import './views/LevelView/ModesView.css';
@import './views/MatrixView/CoreView.css';
@import './views/MatrixView/EscrowView.css';
@import './views/MatrixView/StackView.css';

/* Global variables */
:root {
  /* Mirrored to colors.js */
  --background-color: #181818;
  --color: #F7F7F7;

  /* Not mirrored */
  --background-color-highlight: #37393B;
  --background-color-lowlight: #262728;
  --color-comment: #5F5A60;
  --line-height: 12px;
  --size-image: 190px;
}

/* Global properties */
body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'VT323', monospace;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: var(--line-height);
  text-transform: uppercase;
}

/*
  Layout mixins
*/

.--center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.--horizontalJustify {
  display: flex;
  justify-content: space-between;
}

.--verticalJustify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
  Visibility mixins
*/

.--hide {
  display: none;
}

.--block {
  display: block;
}

.--inlineBlock {
  display: inline-block;
}

.--hidden {
  visibility: hidden;
}

.--visible {
  visibility: visible;
}

/*
  Content mixins
*/

.--ellipsis {
  letter-spacing: -2px;
  line-height: 6px;
  vertical-align: top;
}

.--icon {
  font-family: Impact, Charcoal, sans-serif;
}

/*
  Effects mixins
*/

.--highlight {
  background-color: var(--background-color-highlight);
  box-shadow: -5px 0 0 var(--background-color-highlight),
              5px 0 0 var(--background-color-highlight);
}

.--noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*
  Button mixins
*/

.--button {
  box-shadow: 4px 4px 0 var(--background-color-highlight);
  cursor: pointer;
}

.--button.active {
  background-color: var(--background-color-highlight);
}

.--button:hover,
.--button.active {
  border-width: 2px;
  padding: 0;
}

.--button.disabled {
  cursor: not-allowed;
  text-decoration: line-through;
}
