/* 3rd party dependencies */
@import './3rdParty/css/boxSizing.css';
@import './3rdParty/css/reset.css';

/* App dependencies */
@import './views/EntryPoints/LevelView.css';
@import './views/IOView/InView.css';
@import './views/IOView/OutView.css';
@import './views/LevelView/InfoView.css';
@import './views/LevelView/IOView.css';
@import './views/LevelView/MatrixView.css';
@import './views/MatrixView/CoreView.css';
@import './views/MatrixView/EscrowView.css';
@import './views/ViewHelper/BoxView.css';

/* In case Google Fonts is not responding, fallback to local copy. */
@font-face {
  font-family: 'VT323';
  src: url('./3rdParty/fonts/VT323.woff2') format('woff2');
}

/* Global variables */
:root {
  --background-color: #181818;
  --background-color-highlight: #37393B;
  --color: #F7F7F7;
  --color-comment: #5F5A60;
}

/* Global properties */
body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'VT323', monospace;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 12px;
  text-transform: uppercase;
}

/* Global helpers */
.flexRow {
  display: flex;
  justify-content: space-between;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.highlight {
  background-color: var(--background-color-highlight);
  box-shadow: -5px 0 0 var(--background-color-highlight),
              5px 0 0 var(--background-color-highlight);
}
