/* 3rd party dependencies */
@import './3rdParty/css/reset.css';

/* App dependencies */
@import './views/BoxView.css';
@import './views/LevelView.css';

body {
  background-color: #181818;
  color: #f7f7f7;
  font-family: 'VT323', monospace;
  font-size: 20px;
  text-transform: uppercase;
}
