.BoxViewOuter .label {
  margin-bottom: 5px;
  text-align: center;
}

.BoxView {
  border: 1px solid var(--main-color);
  display: flex;
  padding: 1px;
}

.BoxViewInner {
  border: 1px solid var(--main-color);
  padding: 5px;
}

.BoxView .column:nth-child(2) {
  margin-left: 1px;
}

.BoxView .row:nth-child(2) {
  margin-top: 1px;
}
