.BoxViewOuter .boxViewLabel {
  margin-bottom: 5px;
  text-align: center;
}

.BoxView {
  border: 1px solid var(--color);
  padding: 1px;
}

.BoxViewInner {
  border: 1px solid var(--color);
  padding: 5px;
}

.BoxView .boxViewRight {
  margin-left: 1px;
}

.BoxView .boxViewBottom {
  margin-top: 1px;
}
