.ImageView {
  height: var(--size-image);
  width: var(--size-image);
  text-align: center;
}

/* Tried `canvas.ImageView`, but it stretched height by 2 mysterious pixels. */
.ImageView canvas {
  height: 100%;
  width: 100%;
}
