.InView {
  height: 187px; /* Stretch for space besides 'in.x' to form a square image */
  min-width: 12px; /* Stretch to match 'in.x' label */
  text-align: center;
}

.InView .--ellipsis {
  height: 7px;
  line-height: 0;
  margin-right: 2px;
}
