.InView {
  height: var(--size-image); /* Stretch to match image size. */
  min-width: 12px; /* Good to match 'in.x' label. */
  text-align: center;
}

.InView .--ellipsis {
  height: 10px; /* Treat as `height` + `padding-bottom`. */
  line-height: 1px; /* Treat as `padding-top`. */
  padding-right: 2px;
}
