.InView {
  height: 187px; /* Good to make a square image over 'in.y, out.x, out.y` */
  min-width: 12px; /* Good to match 'in.x' label */
  text-align: center;
}

.InView .--ellipsis {
  height: 7px;
  line-height: 0;
  margin-right: 2px;
}
