.OutView {
  height: 187px; /* Stretch for space besides 'in.x' to form a square image */
  min-width: 12px; /* Stretch to match InView */
  text-align: center;
}

.OutView.userOutput {
  width: 20px; /* Good for 3 digits */
}
