.OutView {
  height: var(--size-image); /* Stretch to match image size. */
  min-width: 12px; /* Good to match InView width. */
  text-align: center;
}

.OutView.userOutput {
  width: 20px; /* Good for 3 digits. */
}
