.CoreView {
  width: 170px; /* Good for 24 characters */
}

.CoreView-Accumulator,
.CoreView-Backup {
  text-align: center;
}

.CoreView-Accumulator li:nth-child(n+2),
.CoreView-Backup li:nth-child(n+2) {
  letter-spacing: 0;
}

.CoreView-Accumulator li:nth-child(n+3),
.CoreView-Backup li:nth-child(n+3) {
  color: var(--color-comment);
}
