.LevelViewOuter {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.LevelView {
  display: flex;
  justify-content: space-between;
  width: 760px; /* Adjust for spacing between columns */
}

.LevelView .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LevelView .title {
  text-align: center;
}
