.MatrixView {
  display: flex;
  flex-direction: column;
  height: 430px; /* Adjust for spacing between rows */
  justify-content: space-between;
  width: 470px; /* Adjust for spacing between columns */
}

.MatrixView .row {
  display: flex;
  justify-content: space-between;
}
