.InfoView {
  margin-right: 2px;
  width: 235px; /* Good for 32 characters; stretch left sidebar */
}

.InfoView .bullet {
  padding-left: 10px;
  position: relative;
}

.InfoView .bullet:before {
  content: '>';
  position: absolute;
  left: 0px;
}
