.InfoView {
  margin-right: 2px;
  min-width: 235px; /* Good for 32 characters */
  width: 235px; /* Adjust for width of left pane */
}

.InfoView .bullet {
  padding-left: 10px;
  position: relative;
}

.InfoView .bullet:before {
  content: '>';
  position: absolute;
  left: 0px;
}
