.ModesView ol {
  align-items: flex-end;
}

.ModesView-Demo,
.ModesView-Easy,
.ModesView-Image,
.ModesView-Stack {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.ModesView-Image {
  cursor: not-allowed;
}
